body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size: 40px;
}

.square {
  background:rgb(128, 228, 228);
  border: 5px solid rgb(223,119,109);
  float: left;
  font-size: 48px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 10px;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
p{
  font-size: 50px;
  color:rgb(223,128,108);
}
.todoContainer{
  width:50%;
  background-color:#b2ecfa;
  padding:10px
}
.todobox{
  width: 50%;
  background-color:#eee;
  padding:10px;
  margin: 20px; 
}
.todoText{
  margin:5px;
  font-size:20px;
}
.editButton{
  margin:5px;
  background-color: #052e39;
  color:white;
  border:2px solid #052e39;
  padding:5px 10px;
}
.removeButton{
  margin:5px;
  background-color: darkred;
  color:white;
  border:2px solid darkred;
  padding:5px 10px;
 
}
.saveButton{
  margin:5px;
  background-color: green;
  color:white;
  border:2px solid green;
  padding:5px 10px;
}
.addButton{
  margin:5px;
  background-color: purple;
  color:white;
  border:2px solid purple;
  padding:5px 10px;

}